body {
  margin: 0%;
  flex-wrap: wrap;
}
* {
  box-sizing: border-box;
}
header {
  flex-wrap: wrap;
  width: 100%;
}
.header-nav {
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  background-color: white;
  margin-top: -10px;
}
.logo img {
  flex-wrap: wrap;
  width: 80px;
  height: 100px;
}
.logo {
  display: flex;
  align-items: center;
}

.logo a {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: black;
  padding: 10px;
  text-decoration: none;
  margin-top: 10px;
  margin-left: -25px;
}

.left {
  display: flex;
  align-items: center;
}

.left a {
  color: black;
  padding: 10px;
  text-decoration: none;
  margin-top: 10px;
  margin-right: 10px;
}

.left a:hover {
  color: rgb(81, 174, 145);
}

.main {
  padding: 0 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 24px;
}
.container {
  width: 100%;
  height: 100%;
  position: relative;
}
.detail-title {
  display: flex;
}
.detail-title img {
  width: 24px;
  height: 24px;
  margin-top: 2px;
  margin-left: 12px;
}
.detail-title h1 {
  font-size: 32px;
  line-height: 44px;
}
* {
  box-sizing: border-box;
}
.test {
  display: flex;
}
.main-bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.animal-info {
  margin-bottom: 32px;
  display: flex;
  align-items: inherit;
}
.animal-img {
  width: 300px;
  margin-right: 40px;
  text-align: center;
  border-radius: 8px;
  overflow: hidden;
}
.animal-img img {
  width: 100%;
  max-width: 300px;
  border-radius: 8px;
}
.animal-table {
  width: 434.4px;
  height: 382px;
  /* margin-top: 24px; */
}
tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}
table {
  border-collapse: separate;
  text-indent: initial;
  border-spacing: 2px;
}
table {
  display: table;
  border-collapse: separate;
  box-sizing: border-box;
  text-indent: initial;
  border-spacing: 2px;
  border-color: gray;
}
tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}
.animal-table tr td {
  padding: 14px 16px;
  border-radius: 2px;
  line-height: 20px;
}
.animal-table tr td:first-child {
  background-color: #f1f8f7;
  border-radius: 2px;
  width: 138px;
  font-size: 16px;
  font-weight: 550;
  color: #0f716d;
  border-right: 4px solid #fff;
  border-bottom: 4px solid #fff;
}
.animal-table tr td:last-child {
  background-color: #fafafa;
  border-radius: 2px;
  font-size: 16px;
  color: #666;
  border-bottom: 4px solid #fff;
  width: 2964px;
}
.animal-detail-item {
  margin-top: 100px;
}
.animal-detail-item h3 {
  font-size: 22px;
  font-weight: 500;
}
.about-list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: -32px;
  margin-top: 0px;
}
.about-item {
  width: 49%;
  margin-bottom: 32px;
}

.about-top {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.about-top img {
  width: 40px;
  height: 40px;
}
.about-text {
  font-size: 16px;
  font-weight: 500;
  color: #333;
  margin-left: 16px;
}
.about-des {
  display: inline-block;
  font-size: 16px;
  color: #666;
  margin-left: 40px;
  margin-top: 4px;
  line-height: 20px;
}
body {
  font-family: euclidcircularb, sans-serif, serif;
}
.animal-contact .animal-subtitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about-me {
  display: inline-block;
  background-color: #90ca92;
  text-decoration: none;
  transition: background-color 0.3s;
  margin-right: 360px;
  display: inline-block;
  width: 100px;
  height: 32px;
  background-color: #fff;
  border-radius: 4px;
  border: solid 1px rgb(220, 231, 228);
  font-size: 14px;
  color: rgb(66, 88, 80);
  text-align: center;
  line-height: 32px;
  cursor: pointer;
}

.about-me:hover {
  background-color: rgb(110, 179, 157);
}

.contact-list {
  margin-top: 32px;
}
.contact-item {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 16px;
}
.main-common {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 24px;
}
.main-bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.contact-item img {
  width: 40px;
  height: 40px;
  margin-top: 10px;
}
.contact-text:hover {
  color: rgb(81, 174, 145);
  cursor: pointer;
}
.contact-text {
  flex: 1;
  display: inline-block;
  font-size: 16px;
  color: #666;
  margin-left: 16px;
  line-height: 22px;
}
.main-common .aside {
  width: 100%;
}
.aside {
  margin-top: 24px;
  margin-left: -40px;
}
.aside h2 {
  margin-bottom: 50px;
  text-align: left;
  margin-left: -30px;
  font-size: 24px;
  font-weight: 700;
}
.aside-tool-list {
  width: 350px;
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  margin-left: -16px;
  margin-bottom: -16px;
  margin-top: 24px;
}
.aside-tool-con {
  width: 50%;
  padding-left: 16px;
  margin-bottom: 16px;
}
.aside-tool-con:hover {
  transform: scale(1.1);
}

.aside-tool-item {
  height: 140px;
  color: #0f716d;
  background-color: #f1f8f7;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.14);
  border-radius: 8px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  max-width: 200px;
}
.link-cover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;
}
a {
  display: inline-block;
  cursor: pointer;
  color: #333;
}
.aside-tool-item img {
  width: 40px;
  height: 40px;
}
.test {
  display: grid;
  grid-template-columns: 85% 25%;
}
.footer {
  padding: 20px;
  margin-top: 40px;
  background-color: rgb(37, 85, 69);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
}
.footer-logo img {
  max-width: 270px;
  max-height: 48px;
  height: 100%;
}
.footer-item {
  width: auto;
  margin-left: 40px;
  margin-bottom: 0;
}
.footer-item a {
  color: rgb(255, 255, 255);
  opacity: 0.5;
  line-height: 18px;
  text-decoration: none;
  text-decoration-style: none;
}
.footer-list {
  margin-top: 40px;
  flex-direction: row;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  list-style-type: none;
}
.footer-item a:hover {
  color: black;
}
.footer-module {
  padding: 0 24px;
  justify-content: end;
  align-items: end;
}
.footer-content {
  display: flex;
  max-width: 1200px;
}
.footer-module2 {
  margin-top: 40px;
  max-width: none;
  width: 100%;
  background-color: #f4e9fd;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(77, 71, 81, 0.2);
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  max-width: 330px;
  padding: 23px;
}
.footer-module-message {
  color: #000000;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}
.footer-module-link {
  display: flex;
  justify-content: center;
  margin-top: -10px;
}
.footer-module-link a {
  background-color: rgb(81, 174, 145);
  border-radius: 100px;
  color: #fff;
  display: flex;
  font-family: Nexa Heavy, arial, helvetica, sans-serif;
  justify-content: center;
  padding: 13px;
  text-decoration: none;
  text-transform: uppercase;
  width: 240px;
}
.footer-module-link a:hover {
  color: rgb(27, 44, 27);
}
.sub-footer-social {
  box-sizing: border-box;
  padding: 20px 20px 20px;
}
.hArray {
  padding: 10px;
  text-align: center;
  display: flex;
  justify-content: space-around;
}
.hArray > * {
  display: flex;
  font-size: 14px;
}
.li-facebook img {
  height: 30px;
  width: 30px;
}
.li-instagram img {
  height: 30px;
  width: 30px;
}
.li-x img {
  height: 30px;
  width: 30px;
}
.sub-footer-body {
  color: white;
  font-size: 13px;
  padding: 10px 15px 30px;
  text-align: center;
  margin-bottom: -40px;
}
.sub-footer-copyright {
  margin-bottom: 8px;
  margin: 0;
}

/* slider */
.slider {
  height: 400px;
  margin: 0px 50px;
  width: 30%;
  overflow: hidden;
  position: relative;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#slideshow {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.btn {
  position: absolute;
  width: 20px;
  height: 20px;
  color: white;
  font-size: 26px;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  display: flex;
}

.prev {
  left: 5px;
  background-color: transparent;
}
.prev p:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: rgb(81, 174, 145);
}
.next p:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: rgb(81, 174, 145);
}
.next {
  right: 5px;
  background-color: transparent;
}

@media only screen and (max-width: 500px) {
  body {
    margin: 5px; 
    flex-wrap: nowrap; 
  }
  header {
    width: 100%;
  }

  .header-nav {
    flex-direction: column;
    padding: 10px;
    margin-top: 0;
  }

  .logo img {
    width: 60px;
    height: 80px;
  }

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -50px;
  }

  .logo a {
    padding: 10px;
    text-decoration: none;
    margin-top: 10px;
    margin-left: 0;
  }

  .left {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .left a {
    color: black;
    padding: 10px;
    text-decoration: none;
    margin-top: 10px;
    margin-right: 0; 
  }
  #slideshow {
      /* width: 100%;
      height: 450px; */
    object-fit: fill;
  }
  
  .animal-info table{
    margin-bottom: -260px;
  }
  .detail-title{
    margin-left: 35px;
  }
  .animal-info{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .slider{
    margin-top: 20px;
    margin-right: 10px;
    margin-bottom: 20px;
    width: 250px;
    height: 300px;
    
  }

  .animal-table tr td:last-child{
    width: 100%;
  }
  .animal-info table{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 50px;
    margin-top: 40px;
    
  }
  .container {
    position: relative;
  }
 
  .aside-tool h2{
    margin-top: 730px;
    white-space: nowrap;
    /* margin-left: -190px; */
    transform: translate(-160%, -30%);
  }
  .aside-tool-con{
    margin-left: -100px;
  }
  
  .about-list{
   display: flex;
   flex-direction: column;
   padding: 50px;
   margin-bottom: -10px;
   margin-top: -30px;  
  }
  .about-item{
    margin-left: -60px;
    
  }
  .about-top {
   margin-top: -20px;
   
  }
  .about-top img{
    margin-left: -20px;
  }
  .animal-subtitle   {
    margin-top: 960px;
    margin-bottom: -30px;
    display: flex;
    margin-left: -30px;
  }
  .about-me{
    position: absolute;
    top: 68%;
    margin-left: 130px;
    margin-top: -13px;
   
  }
  .animal-contact h3{
    position: absolute;
    top: 67%;
    margin-left: -20px;
  }
 .contact-list { 
  position: absolute;
  top: 70%;
 }
 .about-des{
  font-size: 15px;
 }
 .about-text{
  font-size: 20px;
 }
 
 .footer {
  padding: 10px; 
  margin-top: -430px;
}

.footer-logo img {
  max-width: 200px; 
}

.footer-list {
  margin: 20px; 
  display: block;
}
.footer-item {
  margin-top: 10px;
}
.footer-module-link a {
  width: 180px; 
  padding: 10px; 
}

.sub-footer-body {
  padding: 10px; 
  margin-bottom: 20px; 
}

.sub-footer-copyright {
  margin-bottom: 0; 
}
}

@media (min-width: 810px ) and (max-width: 1080px){
  body {
    margin: 10px; 
    flex-wrap: wrap; 
  }
  .home{
    margin-top: 250px;
  }
  header {
    width: 80%;
    margin: auto;
  }
  .header-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    margin-top: 10px;
  }

  .logo img {
    width: 80px;
    height: 100px;
  }

  .logo {
    justify-content: center;
    margin-left: 0;
  }

  .logo a {
    margin-top: 0;
    margin-left: 10px;
  }

  .left {
    flex-direction: row;
    align-items: center;
  }

  .left a {
    margin-top: 0;
    margin-right: 10px;
  }
  #slideshow {
    width: 100%;
    height: 300px;
    object-fit: fill;
  }
  .animal-table {
    width: 200px;
    height: 300px;
  }
  .detail-title{
    margin-bottom: -16px;
  }
  .animal-info{
    margin-left: -96px;
  }
  .aside-tool{
    font-size: 14px;
  }
  .aside-tool-list{
    margin-left: 35px;
    width: 280px;
  }
  .aside-tool h2{
    margin-top: -60px;
    white-space: nowrap;
    margin-left: -3px;
  }
  .animal-subtitle{
    margin-left: -20px;
    margin-right: -250px;
  }
  .animal-detail-item {
    margin-top: 100px;
    margin-left: -15px;
  }
  .aside-tool-item{
    margin-top: 10px;
  }  
}